# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Logs
*.log

# Build / dist
build/
dist/
*.spec

# Databases / test dbs
db/
ui/
*.db
*.sqlite3
